################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/PortfolioManagement/bin
/PortfolioManagement/obj
/BourseInfo/bin
/BourseInfo/obj
*.suo
/.vs/BourseInfo
/BourseInfoTests/bin/Debug
/BourseInfoTests/obj/Debug
