################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/PortfolioManagement/bin
/PortfolioManagement/obj
/BourseInfo/bin/Debug
/BourseInfo/bin/Release/*
# do not ignore exe and dll in Release
!/BourseInfo/bin/Release/BourseInfo.exe
!/BourseInfo/bin/Release/*.dll
/BourseInfo/obj
*.suo
/.vs/BourseInfo
/BourseInfoTests/bin
/BourseInfoTests/obj
